node_modules/
app/
archive/
allure-report/
allure-results/
credentials.js
iosCaps.js
logs/
resources/credentials.resource
Results/
data/secrets.py
data/__pycache__/
.idea/
venv/
libraries/__pycache__/
resources/__pycache__/
